<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <%= require('html-loader!./assets/html/head.html') %>

  </head>
  <body>

        <%= require('html-loader!./assets/html/navbar.html') %>


<div class="page-container slate-theme" id="account">

      <section class="hero">
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title font-primary-title color-primary">
              Mining Account List
            </h1>
            <h2 class="subtitle">
             Token Mining Pool
            </h2>



             <div class="whitespace-sm"></div>



      <!--      <div id="view-account-form" class="box has-text-centered">

             <input class="" v-model="mining_address" placeholder="Mining address">

             <div class="button-bubble button-primary view-account-button acts-as-link"> View your Shares </div>

          </div>
        -->



        </div>
      </section>

      <div id="accountlist" class="box  background-secondary" style="overflow-x:auto; min-height:480px;">
        <div class='subtitle'>Miners</div>
        <table class='table table-dark zeroauto'>

          <thead>
            <tr >
              <td> Miner # </td>

              <td> Eth Address </td>
              <td> Hash Rate </td>
              <td> Share % </td>
              <td> Token Balance </td>
              <td> Tokens Earned </td>
            </tr>
          </thead>

          <tbody>

            <tr v-for="(item, index) in accounts.account_list">
              <td> Miner {{ index }} </td>


                <td>
                      <a v-bind:href='item.profileURL' >
                        <p>  {{ item.minerAddress }}  </p>
                      </a>
                </td>

              <td> {{ item.minerData.hashRateFormatted }} </td>

              <td>  {{ item.minerData.sharesPercent}} </td>
              <td>  {{ item.minerData.tokenBalanceFormatted }} </td>
              <td>  {{ item.minerData.tokenRewardsFormatted }} </td>
            </tr>


          </tbody>
        </table>

      </div>

          <!--
      <div id="poolstats" class="box  " style="overflow-x:auto; min-height:480px;">
        <div class='subtitle'>Pool Stats</div>
        <table class='table'>

          <tbody>
            <tr> <td> Network: MAINNET </td> </tr>
          </tbody>
        </table>

      </div>

    -->





      <div id="about" class="   background-secondary has-text-centered">

        <div class="whitespace-sm"></div>
        <div class='title'> Token Mining Pool </div>
        <div class="whitespace-sm"></div>
        <div class='subtitle '> Mine Ethereum tokens distributed using Proof of Work </div>


        <div class="">

        </div>

        <div class="">
          <p> Read more on <a href="https://reddit.com/r/tokenmining" target="_blank"> Reddit </a> </p>


        </div>
      </div>


  </div>


      <%= require('html-loader!./assets/html/footer.html') %>


  </body>
</html>
