<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="icon" type="image/png" href="/app/assets/images/0xbitcoin.png" />

  </head>
  <body>

        <%= require('html-loader!./assets/html/navbar.html') %>


<div class="page-container" id="account">

      <section class="hero">
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title font-primary-title color-primary">
              Dashboard
            </h1>
            <h2 class="subtitle">
             Token Mining Pool
            </h2>



             <div class="whitespace-sm"></div>




        </div>
      </section>


      <div id="poolstats" class="box  " style="overflow-x:auto; min-height:480px;">
        <div class='subtitle'>Miners</div>
      <table class='table'>
      <tbody>
        <tr> <td> Network: {{ network }} </td> </tr>
        <tr> <td> Address: <a :href='contractUrl' target="_blank"> {{ contractAddress }} </a>  </td> </tr>
        <tr> <td> Challenge Number:  {{ ChallengeNumber }} </td> </tr>
        <tr> <td> Tx Queued:  {{ TxQueued }}</td></tr>
      <tr> <td> Tx Pending:  {{ TxPending }}</td></tr>
      <tr> <td> Tx Mined:  {{ TxMined }}</td></tr>
      <tr> <td> Tx Succeeded:  {{ TxSuccess }}</td></tr>

      <tr> <td> Last Reward Amount:  {{ lastRewardAmount }}</td></tr>
      <tr> <td> Last Reward EthBlock#:  {{ lastRewardEthBlockNumber }}</td></tr>
     </tbody>
      </table>
      </div>

      <div id="queuedTransactionsList" class="box  " style="overflow-x:auto; min-height:480px;">
        <div class='subtitle'>Queued Transactions</div>
        <table class='table'>

          <thead>
            <tr >
              <td> Type </td>
              <td> Data  </td>
              <td> Status </td>
            </tr>
          </thead>

          <tbody>

            <tr v-for="(item, index) in accounts.account_list">
              <td>    {{ item.type }} </td>
              <td> {{ item.data }} </td> 
              <td>  {{ item.status  }} </td>

            </tr>


          </tbody>
        </table>

      </div>





      <div id="about" class="box has-text-centered">

        <div class='title'> Token Mining Pool </div>
        <div class='subtitle '> Mine Ethereum tokens distributed using Proof of Work </div>


        <div class="">

        </div>

        <div class="">
          <p> Read more on <a href="https://reddit.com/r/tokenmining" target="_blank"> Reddit </a> </p>


        </div>
      </div>


  </div>


      <%= require('html-loader!./assets/html/footer.html') %>


  </body>
</html>
