<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>

      <%= require('html-loader!./assets/html/head.html') %>



  </head>
  <body>

        <%= require('html-loader!./assets/html/navbar.html') %>


<div class="page-container slate-theme " id="home">

      <section class="hero circuit-overlay">
        <div class="hero-body">
          <div class="container has-text-centered" id='jumbotron'>
            <h1 class="title font-primary-title color-alternate">
                Token Mining Pool
            </h1>

            <div  v-if="false"  class="loading-animation">
                <div class="loader"></div>
            </div>


                <p class="color-primary-heavy">Mining URL: http://tokenminingpool.com:8080 </p>

                <div class="whitespace-md"></div>

                <div class="account-search-container">
                  <div class="field">
                    <div class="label color-white">View Mining Account</div>
                    <div class="control">
                      <input id="mining-account-input" class="input  " type="text" placeholder="Primary input">
                    </div>
                  </div>
                </div>

                <div class="whitespace-lg"></div>
                <br>





             <div class="whitespace-lg"></div>
             <div class="whitespace-lg"></div>
          </div>
        </div>
      </section>




      <div id="guide" class="box background-primary has-text-centered ">
        <div class='title'> Start Mining 0xBitcoin </div>

        <a href="https://github.com/0xbitcoin/0xbitcoin-miner/blob/master/RELEASES.md" target="_blank">
          <div class='button-bubble button-gradient'>Download the Token Miner</div>
        </a>


        <div class="toggle-mining-instructions acts-as-link color-fun-secondary"> Instructions</div>

        <div class="mining-instructions-container">
            <div class="columns">
            <div class= "column background-secondary color-primary is-half-desktop " style=" margin: 0 auto;">
              <p>Download the mining software - version 1.5 or higher</p>
              <hr>
              <p>Connect to this pool with 'pool select http://tokenminingpool.com:8080'</p>
              <hr>
              <p>Start mining with 'pool mine'</p>
             </div>
           </div>
     </div>

      </div>


      <a v-cloak v-bind:href='pool.poolData.etherscanMintingURL' >
        <p>Minting: {{pool.poolData.mintingAddress}}</p>
      </a>

      <a v-cloak v-bind:href='pool.poolData.etherscanPaymentURL' >
        <p>Payments: {{pool.poolData.paymentAddress}}</p>
      </a>


  <div class="container is-hidden" id="poolstats">
      <div class="columns" >

        <div class="column">
          <div class="card card-background-secondary">
            <div class="card-content">
              <div class="media-content">
                <p class="title is-4 has-text-centered">Active Miners</p>

              <div class="content has-text-grey has-text-centered">

                <h3 class="has-text-white">{{pool.poolStats.activeMinersCount}}</h3>

              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card card-background-secondary">
            <div class="card-content">
              <div class="media-content">
                <p class="title is-4 has-text-centered">Blocks / Hour</p>
              <div class="content has-text-grey has-text-centered">
                <h3 class="has-text-white">1.4 TH/s</h3>

              </div>
            </div>
            </div>
          </div>
        </div>


          <div class="column">
            <div class="card card-background-secondary">
              <div class="card-content">
                <div class="media-content">
                  <p class="title is-4 has-text-centered">Pool Hashrate</p>

                <div class="content has-text-grey has-text-centered">
                  <h3 class="has-text-white">{{pool.poolStats.totalPoolHashrate}}</h3>

                </div>
              </div>
              </div>
            </div>
          </div>
  </div>



  <div class="columns" >
    <div class="column">
      <div class="card card-background-secondary">
        <div class="card-content">
          <div class="media-content">
            <p class="title is-4 has-text-centered">Last Mined Block</p>

          <div class="content has-text-grey has-text-centered">
            <h3 class="has-text-white">1.4 TH/s</h3>

          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card card-background-secondary">
        <div class="card-content">
          <div class="media-content">
            <p class="title is-4 has-text-centered">Price</p>

          <div class="content has-text-grey has-text-centered">
            <h3 class="has-text-white">1.4 TH/s</h3>

          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card card-background-secondary">
        <div class="card-content">
          <div class="media-content">
            <p class="title is-4 has-text-centered color-primary">Difficulty</p>
          <div class="content has-text-grey has-text-centered">
            <h3 class="has-text-white">{{pool.poolStats.miningDifficulty}}</h3>

          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="columns" >
    <div class="column">
      <div class="card card-background-secondary">
        <div class="card-content">
          <div class='subtitle has-text-centered'>Hashrate</div>
          <div class="media-content">
            <canvas id="hashgraph"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="column ">
      <div class="card card-background-secondary" id="topPerformers">
        <div class="card-content is-hidden">
          <div class='subtitle has-text-centered'>Top Performers</div>



                  <table class='table table-dark zeroauto' v-cloak>

                    <thead>
                      <tr >
                        <td> Address </td>
                        <td> Hashrate </td>
                      </tr>
                    </thead>

                    <tbody>

                      <tr v-for="(item, index) in performers.list"  v-bind:class="item.htmlClass">
                        <td>   </td>
                        <td> </td>
                       </tr>

                    </tbody>
                  </table>


        </div>
      </div>
    </div>
 </div>

      <div id="solutiontxlist"  class="box background-secondary transaction-list " style="overflow-x:auto; min-height:480px;">
        <div class='subtitle'>Recent Solutions</div>


        <table class='table table-dark zeroauto' v-cloak>

          <thead>
            <tr >
              <td> Block </td>
              <td> TxHash </td>
              <td>   </td>
              <td> Status </td>
            </tr>
          </thead>

          <tbody>

            <tr v-for="(item, index) in transactions.tx_list"  v-bind:class="item.htmlClass">
              <td>  {{ item.block  }} </td>
              <td>

                <a v-bind:href='item.txURL' >
                 {{ item.txHash  }}
               </a>
               </td>

              <td class="tx-status-cell">  {{ item.formattedStatus}} </td>
            </tr>

          </tbody>
        </table>

      </div>

      <div id="transfertxlist" class="box background-secondary transaction-list  " style="overflow-x:auto; min-height:480px;">
        <div class='subtitle'>Recent Transfers</div>
        <table class='table table-dark zeroauto' v-cloak>

          <thead>
            <tr >
              <td> Block </td>
              <td> TxHash </td>
              <td>   </td>
              <td > Status </td>
            </tr>
          </thead>

          <tbody>

            <tr v-for="(item, index) in transactions.tx_list"  v-bind:class="item.htmlClass">
              <td>  {{ item.block  }} </td>
              <td>
                  <a v-bind:href='item.txURL' >
                 {{ item.txHash  }}
               </a>
               </td>

              <td class="tx-status-cell">  {{ item.formattedStatus}} </td>
            </tr>

          </tbody>
        </table>

      </div>



      <div id="about" class="box background-secondary has-text-centered">

        <div class="whitespace-sm"></div>

        <div class='title'> Token Mining Pool </div>
        <div class="whitespace-sm"></div>
        <div class='subtitle '> Mine Ethereum tokens distributed using Proof of Work </div>
        <div class="">
        </div>
        <div class="">
          <p class="has-text-light"> Read more on <a href="https://reddit.com/r/tokenmining" target="_blank" > Reddit </a> </p>
        </div>
      </div>
      <div class="whitespace-sm"></div>
  </div>

      <%= require('html-loader!./assets/html/footer.html') %>


  </body>
</html>
