<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="icon" type="image/png" href="/app/assets/images/0xbitcoin.png" />

  </head>
  <body>

        <%= require('html-loader!./assets/html/navbar.html') %>


<div class="page-container" id="home">

      <section class="hero">
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title font-primary-title color-primary">
              Token Mining Pool
            </h1>
            <h2 class="subtitle">
              Mine 0xBitcoin with us
            </h2>

            <div class= "box" style="max-width:60%;margin: 0 auto;">
              <p>Download the mining software - version 1.5 or higher</p>
              <hr>
              <p>Connect to this pool with 'pool select tokenminingpool.com:8586'</p>
              <hr>
              <p>Start mining with 'pool mine'</p>
             </div>


             <div class="whitespace-sm"></div>

             <a href="/account" target="_blank">
               <div class='button-bubble button-white'>View Account Shares</div>
             </a>
          </div>
        </div>
      </section>


      <div id="app">

      </div>

      <div id="guide" class="box has-text-centered">
        <div class='title'> Start Mining 0xBitcoin </div>
        <div class='subtitle '> Download the CPU Miner from Github </div>

        <a href="https://github.com/0xbitcoin/0xbitcoin-miner" target="_blank">
          <div class='button-bubble button-primary'>Download the 0xBTC Miner</div>
        </a>
      </div>

      <div id="dashboard" class="box has-small-text-mobile" style="overflow-x:auto; min-height:480px;">
        <div class='subtitle'>Pool Stats</div>
        <table class='table'>

        <tbody>
          <tr> <td> Network: MAINNET </td> </tr>
          <tr> <td> Address: <a :href='contractUrl' target="_blank"> {{ contractAddress }} </a>  </td> </tr>
          <tr> <td> Total Supply:  {{ totalSupply }} </td> </tr>
          <tr> <td> Amount Mined:  {{ amountMined }}</td></tr>
        <tr> <td> Mining Difficulty:  {{ difficulty }}</td></tr>
        <tr> <td> Mining Challenge:  {{ challenge_number }}</td></tr>

        <tr> <td> Last Reward To:  {{ lastRewardTo }}</td></tr>
        <tr> <td> Last Reward Amount:  {{ lastRewardAmount }}</td></tr>
        <tr> <td> Last Reward EthBlock#:  {{ lastRewardEthBlockNumber }}</td></tr>
       </tbody>
        </table>

      </div>

      <div id="about" class="box has-text-centered">

        <div class='title'> Token Mining Pool </div>
        <div class='subtitle '> Mine Ethereum tokens distributed using Proof of Work </div>




        <div class="">

        </div>

        <div class="">
          <p> Read more on <a href="https://reddit.com/r/tokenmining" target="_blank"> Reddit </a> </p>


        </div>
      </div>


  </div>


      <%= require('html-loader!./assets/html/footer.html') %>


  </body>
</html>
