<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="icon" type="image/png" href="/app/assets/images/0xbitcoin.png" />

  </head>
  <body>

        <%= require('html-loader!./assets/html/navbar.html') %>


<div class="page-container" id="profile">

      <section class="hero">
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title font-primary-title color-primary">
              Miner Profile
            </h1>
            <h2 class="subtitle">
             __ address __
            </h2>



             <div class="whitespace-sm"></div>





        </div>
      </section>


      -- show balance payouts

      -- show balance transfers

      <div id="minerBalancePaymentsList" class="box  " style="overflow-x:auto; min-height:480px;">
        <div class='subtitle'>Balance Payments</div>
        <table class='table'>

          <thead>
            <tr >
              <td> EthBlock </td>
              <td> Id  </td>
              <td> Balance Paid </td>

            </tr>
          </thead>

          <tbody>

            <tr v-for="(item, index) in transactions.tx_list">

              <td>    {{ item.block }} </td>
              <td>    {{ item.id }} </td>
              <td>    {{ item.previousTokenBalance }} </td>


            </tr>

          </tbody>

        </table>

      </div>

      <div id="minerBalanceTransfersList" class="box  " style="overflow-x:auto; min-height:480px;">
        <div class='subtitle'>Balance Transfers</div>
        <table class='table'>

          <thead>
            <tr >
              <td> EthBlock </td>
              <td> Status </td>
              <td> Tx Hash </td>
              <td> Payment Id  </td>
              <td> Amount Sent </td>

            </tr>
          </thead>

          <tbody>

            <tr v-for="(item, index) in transactions.tx_list">

              <td>    {{ item.block }} </td>
              <td>    {{ item.status }} </td>
              <td>    {{ item.txHash }} </td>
              <td>    {{ item.balancePaymentId }} </td>
              <td>    {{ item.tokenAmount }} </td>

            </tr>

          </tbody>

        </table>

      </div>




      <div id="about" class="box has-text-centered">

        <div class='title'> Token Mining Pool </div>
        <div class='subtitle '> Mine Ethereum tokens distributed using Proof of Work </div>


        <div class="">

        </div>

        <div class="">
          <p> Read more on <a href="https://reddit.com/r/tokenmining" target="_blank"> Reddit </a> </p>


        </div>
      </div>


  </div>


      <%= require('html-loader!./assets/html/footer.html') %>


  </body>
</html>
