<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <%= require('html-loader!./assets/html/head.html') %>

  </head>
  <body>

        <%= require('html-loader!./assets/html/navbar.html') %>


<div class="page-container slate-theme " id="profile">

      <section class="hero">
        <div class="hero-body">
          <div class="container has-text-centered"  >
            <h1 class="title font-primary-title color-primary">
              Miner Profile
            </h1>
            <h2 class="subtitle">

            </h2>


             <div class="whitespace-sm"></div>


        </div>
      </section>


      <div id="jumbotron" class="box  background-secondary " style="overflow-x:auto; min-height:480px;">
        <div class='subtitle'>Miner Stats</div>
      <table class='table table-dark'>
      <tbody>
        <tr>
           <td> Address:
            <a v-bind:href='miner.minerData.etherscanURL'>
            {{miner.minerData.address}}
            </a>
          </td>
       </tr>
       <!-- <tr> <td> Total Rewards Mined: {{  miner.minerData.tokenRewardsFormatted }}  </td> </tr> -->

        <!-- <tr> <td> Pending Open Balance: {{  miner.minerData.tokenBalanceFormatted }}  </td> </tr> --> 

        <tr> <td> Total Tokens Mined: {{  miner.minerData.tokenAlltimeBalanceFormatted }}  </td> </tr>

        <tr> <td> Token Tokens Paid Out: {{  miner.minerData.tokenRewardsFormatted }}  </td> </tr>



       <tr> <td> Vardiff: {{  miner.minerData.varDiff }}  </td> </tr>
       <tr> <td> Using Custom Vardiff: {{  miner.minerData.usingCustomDifficulty }}  </td> </tr>

       <tr> <td> Hashrate: {{  miner.minerData.hashRateFormatted }}  </td> </tr>
       <tr> <td> Accumulated Shares: {{  miner.minerData.shareCredits }}  </td> </tr>



     </tbody>
      </table>
      </div>


      <div id="minerSubmittedSharesList" class="box background-secondary " style="overflow-x:auto; min-height:480px;">
        <div class='subtitle'>Submitted Shares</div>
        <table class='table table-dark'>

          <thead>
            <tr >
              <td> EthBlock </td>
              <td> Time </td>
              <td> Difficulty </td>
              <td> Nonce </td>
              <td> Is Full Solution </td>

            </tr>
          </thead>

          <tbody>

            <tr v-for="(item, index) in shares.share_list">

              <td>    {{ item.block }} </td>
              <td>    {{ item.timeFormatted }} </td>
              <td>    {{ item.difficulty }} </td>
              <td>    {{ item.nonce }} </td>
              <td>    {{ item.isSolution }} </td>


            </tr>

          </tbody>

        </table>

      </div>
      <div id="minerInvalidSharesList" class="box background-secondary " style="overflow-x:auto; min-height:480px;">
        <div class='subtitle'>Invalid Shares</div>
        <table class='table table-dark'>

          <thead>
            <tr >
              <td> EthBlock </td>
              <td> Time </td>

              <td> Difficulty </td>
              <td> Nonce </td>

            </tr>
          </thead>

          <tbody>

            <tr v-for="(item, index) in shares.share_list">

              <td>    {{ item.block }} </td>
              <td>    {{ item.timeFormatted }} </td>

              <td>    {{ item.difficulty }} </td>
              <td>    {{ item.nonce }} </td>


            </tr>

          </tbody>

        </table>

      </div>

      <div id="minerBalancePaymentsList" class="box background-secondary " style="overflow-x:auto; min-height:480px;">
        <div class='subtitle'>Balance Payments</div>
        <table class='table table-dark'>

          <thead>
            <tr >
              <td> EthBlock </td>
              <td> Id  </td>
              <td> Balance Paid </td>
              <td> Transfer TX hash </td>

            </tr>
          </thead>

          <tbody>

            <tr v-for="(item, index) in transactions.tx_list">

              <td>    {{ item.block }} </td>
              <td>    {{ item.id }} </td>
              <td>    {{ item.amountToPay  }} </td>
              <td>  <a v-bind:href='item.etherscanTxURL' >  {{ item.transferTxHash }}   </a> </td>

            </tr>

          </tbody>

        </table>

      </div>



      <div id="minerUnsuccessfulBalanceTransfersList" class="box background-secondary " style="overflow-x:auto; min-height:480px;">
        <div class='subtitle'>Unsuccessful Balance Transfers (will be rebroadcast)</div>
        <table class='table table-dark'>

          <thead>
            <tr >
              <td> EthBlock </td>
              <td> Confirmed </td>
                <td> Amount Sent </td>

              <td> Payment Id  </td>


            </tr>
          </thead>

          <tbody>

            <tr v-for="(item, index) in transactions.tx_list">

              <td>    {{ item.block }} </td>
              <td>    {{ item.confirmed }} </td>

              <td>    {{ item.tokenAmount  }} </td>





              <td>    {{ item.balancePaymentId }} </td>

            </tr>

          </tbody>

        </table>

      </div>


      <div id="about" class="box background-secondary has-text-centered">
          <div class="whitespace-sm"></div>

        <div class='title'> Token Mining Pool </div>

          <div class="whitespace-sm"></div>

        <div class='subtitle '> Mine Ethereum tokens distributed using Proof of Work </div>


        <div class="">

        </div>

        <div class="">
          <p> Read more on <a href="https://reddit.com/r/tokenmining" target="_blank"> Reddit </a> </p>


        </div>
      </div>


  </div>


      <%= require('html-loader!./assets/html/footer.html') %>


  </body>
</html>
