
html
{
  //color: white;
  //background-color: pink;
  font-family: "Arial, Helvetica, sans-serif";


}

[v-cloak] {
   display: none;
 }

 .shadow-md {
   -webkit-box-shadow: 0 4.5px 3px -3px #999;
   -moz-box-shadow: 0 4.5px 3px -3px #999;
     box-shadow: 0 2.25px 4.5px rgba(0,0,0,0.16), 0 2.25px 4.5px rgba(0,0,0,0.23);
 }

a
{
  color: white;
}

// #fab329
// #e19725
// #3d3d47
// #32333c
// #d5c8c6

.font-primary-title
{
    font-family: 'Roboto Mono', monospace;
}
.color-primary

{
  color: #fab329;
}


.color-yellow
{
  color: #fab329;
}

.color-alternate
{
  color: white;
}

.color-primary-heavy
{
  color: white;
}

.color-beigh
{
  color: #fab329;
}



.button-gradient
{
  color: #f7f1e1;

   background: linear-gradient(#fab329, #e19725);
}

.button-primary
{
  color: white;
  background: #e19725;
  border: 1px solid #e19725;

}


.button:hover {
    border: 1px solid #e19725;
}

.button-bubble
{
  padding:8px;
  border: 1px solid #e19725;
  border-radius: 3px;
  display: inline-block;
}

.button-bubble-secondary
{
  padding:8px;
  border: 1px solid white;
  border-radius: 3px;
  display: inline-block;
}


.button-bubble:hover
{
  padding:9px;
  border: 0px solid #e19725;
  border-radius: 3px;
  display: inline-block;
  color: #ddd;
}


.color-white
{
  color: white;
}

.navbar-item
{
  padding: 2px;
}

@media only screen and (max-width: 768px) {

  .has-small-text-mobileorange
  {
    font-size: 10px;
  }
}

.orange-theme
{
  background-color: #ff7209;



  .color-primary
  {
    color: white;
  }



  .button-secondary-bubble button-primary
  {
    color: black;

  }
}


 



.transaction-list
{
  .status-success
    {
        border-left: 4px solid #A3CB38;

        .tx-status-cell
        {
          color: #d5c8c6
        }
    }

  .status-mined
  {
    border-left: 4px solid #1289A7;
      .tx-status-cell
      {
        color: #30336b
      }
  }

  .status-pending
  {
    border-left: 4px solid #f9ca24;
      .tx-status-cell
      {
        color: #f9ca24
      }
  }

  .status-queued
  {
      border-left: 4px solid #22a6b3;
      .tx-status-cell
      {
        color: #22a6b3
      }
  }

  .status-unknown
    {
        border-left: 4px solid #e056fd;

    }
}



.title
{
  color: white;

}
.subtitle
{
    color: #fab329;
}


.slate-theme-dark
{
    background-color: #3d3d47;


}

.acts-as-link
{
  cursor:pointer;
}

.slate-theme
{
    background-color: #32333c;


  .color-fun-primary
  {
      color: #e2c08d;
  }

  .color-fun-secondary
  {
      color: #d5c8c6;
  }

  .background-primary
  {
    background-color: #32333c;
  }
  .background-secondary
  {
    background-color: #3d3d47;
  }


.card-background-secondary
{
  background-color: #3d3d47;
}

}

.circuit-overlay
{
  position: relative;

  background: url(/app/assets/images/circuits-overlay.png);

}

.account-search-container
{
  max-width: 400px;
  margin:0 auto;

  .input
  {
    background: rgba(0,0,0,0.2);
    color:white;
  }
}

.navbar-end
{
  .button
  {
    margin:5px;
  }
}

.navbar-start
{
  .navbar-item
  {
    color:white;
    font-size:1.2em;
    padding:10px 35px;
  }
}

.hover-line-blue:hover
{
  border-bottom: 2px solid #1289A7;
}

.hover-line-green:hover
{
  border-bottom: 2px solid #A3CB38;
}

.toggle-mining-instructions
{
  padding:10px;
  margin:10px;

}

.mining-instructions-container
{
  padding:10px;
  margin:10px;
}

.zeroauto
{
  margin:0 auto;
}

.table-dark
{
  color: white;
  background-color: transparent;

  thead
  {
    td {
      color: #d5c8c6;
    }
  }

}

.loading-animation
{
  margin: 0 auto;
  text-align: center;
  width:100%;
}

.loader {

    margin: 0 auto;
    border: 11px solid #f3f3f3; /* Light grey */
    border-top: 11px solid #d5c8c6; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
