


html
{
  //color: white;
  //background-color: pink;
  font-family: "Arial, Helvetica, sans-serif";


}

[v-cloak] {
   display: none;
 }

 
a
{
  color: #ff7209;
}


.font-primary-title
{
    font-family: 'Roboto Mono', monospace;
}

.color-primary
{
  color: #ff7209;
}

.button-primary
{
  color: white;

   background: linear-gradient(#ff7209, #ff6206);
}

.button-secondary
{
  color: #ff7209;

   background: linear-gradient(#fff, #eee);
}

.button-bubble
{
  padding:8px;
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
}

.navbar-item
{
  padding: 2px;
}

@media only screen and (max-width: 768px) {

  .has-small-text-mobile
  {
    font-size: 10px;
  }
}

.orange-theme
{
  background-color: #ff7209;



  .color-primary
  {
    color: white;
  }

  .button-primary
  {
    color: white;

  }

  .button-secondary
  {
    color: black;

  }
}


.transaction-list
{
  .status-success
    {
        border-left: 4px solid #6ab04c;

        .tx-status-cell
        {
          color: #6ab04c
        }
    }

  .status-mined
  {
    border-left: 4px solid #30336b;
      .tx-status-cell
      {
        color: #30336b
      }
  }

  .status-pending
  {
    border-left: 4px solid #f9ca24;
      .tx-status-cell
      {
        color: #f9ca24
      }
  }

  .status-queued
  {
      border-left: 4px solid #22a6b3;
      .tx-status-cell
      {
        color: #22a6b3
      }
  }

  .status-unknown
    {
        border-left: 4px solid #e056fd;

    }
}



.title
{
  color: #6ab04c;

}
.subtitle
{
    color: white;
}


.slate-theme-dark
{
    background-color: #282c34;


}

.color-orange
{
   color: #ff7209
}

.acts-as-link
{
  cursor:pointer;
}

.slate-theme
{
    background-color: #21252b;




  .color-fun-primary
  {
      color: #e2c08d;
  }

  .color-fun-secondary
  {
      color: #73c990;
  }

  .background-primary
  {
    background-color: #21252b;
  }
  .background-secondary
  {
    background-color: #282c34;
  }


}

.circuit-overlay
{
  position: relative;

  background: url(/app/assets/images/circuits-overlay.png);

}


.toggle-mining-instructions
{
  padding:10px;
  margin:10px;

}

.mining-instructions-container
{
  padding:10px;
  margin:10px;
}

.zeroauto
{
  margin:0 auto;
}

.table-dark
{
  color: white;
  background-color: transparent;

  thead
  {
    td {
      color: #73c990;
    }
  }

}

.loading-animation
{
  margin: 0 auto;
  text-align: center;
  width:100%;
}

.loader {

    margin: 0 auto;
    border: 11px solid #f3f3f3; /* Light grey */
    border-top: 11px solid #6ab04c; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
